<section id="class-descriptions" class="container-fluid">
  <div class="opaque-div container-fluid">
    <div class="container">
      <h2> Class Descriptions </h2>
      <h3>Slow Flow and Yin</h3>
      <p>Lorem ipsum dolor sit amet. Nulla facilisi. In hac habitasse platea dictumst. </p>
      <h3>Beginner Vinyasa</h3>
      <p>Lorem ipsum dolor sit amet.</p>
      <h3>Advanced Vinyasa</h3>
      <p>Lorem ipsum dolor sit amet. Nulla facilisi. In hac habitasse platea dictumst. </p>
      <h3>Morning Flow</h3>
      <p>Lorem ipsum dolor sit amet. Nulla facilisi. In hac habitasse platea dictumst. </p>
    </div>
  </div>
</section>